.contact-us{
    margin-top: 20px;
    .panel-success>.panel-heading {
        color: #fff;
        background-color: #034DA2;
        border-color: #034DA2;
    }
    .panel-warning>.panel-heading {
        color: #fff;
        background-color: #008F4D;
        border-color: #008F4D;
    }
    .panel-danger>.panel-heading {
        color: #fff;
        background-color: orange;
        border-color: orange;
    }
}